@model IEnumerable<RegMongo.Models.RegModel>
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <div class="page-content">
        <section id="contact" class="content-section">
            <a asp-action="Create">Registration</a>
        </section>
        <section id="contact" class="content-section">
            <a asp-action="Login">Login</a>
        </section>
    </div>
